<% layout("/layouts/boilerplate") -%>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let result of results){ %>
            <a href="/listings/<%=result._id %>" class="listing-links">
                <div class="card col listing-card">
                    <img src="<%= result.image.url %>" class="card-img-top" alt="listing-images"
                        style="height: 20rem;">
                    <div class="card-img-overlay"></div>

                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= result.title %>
                            </b>
                            <br>
                            &#8377; <%= result.price.toLocaleString("en-IN"); %>
                                &nbsp; &nbsp; <i class="tax-info">18% GST</i>
                        </p>
                    </div>
                </div>
                <% } %>
    </div>
